<!-- NAME -->
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" ng-model="formData.name" required>
    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
</div>

<!-- USERNAME -->
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" ng-model="formData.username" ng-minlength="3" ng-maxlength="8">
    <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
    <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
</div>

<!-- EMAIL -->
<div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" ng-model="formData.email">
    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
</div>


<!-- SUBMIT BUTTON -->
<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="form.interests" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
